- name: Download druid zip file
  get_url:
    url: http://archive.apache.org/dist/incubator/druid/{{druid-version-number}}-incubating/apache-druid-{{druid-version-number}}-incubating-bin.tar.gz
    dest: /tmp

- name: create directory
  file:
     path: /opt/{{ item }}
     state: directory
  with_items:
    - druid
    - druid/zk

- name: Extract 
  unarchive:
    src: /tmp/apache-druid-{{druid-version-number}}-incubating-bin.tar.gz
    dest: /opt/druid
    extra_opts: [--strip-components=1]
    remote_src: yes

- name: Download zookeeper zip file
  get_url:
    url: https://archive.apache.org/dist/zookeeper/zookeeper-{{zookeeper-version-number}}/zookeeper-{{zookeeper-version-number}}.tar.gz
    dest: /tmp

- name: Extract
  unarchive:
    src: /tmp/zookeeper-{{zookeeper-version-number}}.tar.gz
    dest: /opt/druid/zk
    extra_opts: [--strip-components=1]
    remote_src: yes

- name: systemd file for start/stop serivce
  template:
    src: druid.j2
    dest: /etc/systemd/system/druid.service
    mode: '0644'

- name: listen address
  lineinfile:
    path: /opt/druid/conf/druid/single-server/micro-quickstart/_common/common.runtime.properties
    regexp: '^druid\.host'
    line: 'druid.host=0.0.0.0'

- name: Make sure a service is running
  systemd:
    state: started
    name: druid
